{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Where Future Begins</title>
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <meta name="csrf-token" content="{{ csrf_token }}">
</head>
<body>
    <div class="main-container">
        <div class="sidebar">
            <div>
                <img src="{% static 'images/logo_w.png' %}" alt="Logo" class="sidebar-logo">
                <div class="sidebar-buttons-top">
                    <button id="button1" class="sidebar-button"></button>
                    <button id="button2" class="sidebar-button"></button>
                    <button id="button3" class="sidebar-button"></button>
                </div>
            </div>
            <div class="sidebar-buttons-bottom">
                <button id="button4" class="sidebar-button"></button>
            </div>
        </div>

        <div class="centered-container">
            <div class="chat-interface">
                <h1>Where Future Begins</h1>

                <div class="textarea-container">
                    <div id="recordButton">
                        <span class="record-text">Record Task</span>
                        <span class="stop-text">Stop</span>
                    </div>
                    <textarea id="content" placeholder="Type your message here..."></textarea>
                    <button id="submitButton"></button>
                </div>

                <div class="chat-log-container">
                    <div id="chatLog">
                        <!-- Chat messages will be added here dynamically -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% csrf_token %}
    <script src="{% static 'home.js' %}"></script>
</body>
</html>